<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
		<title>Homepage | Portfolio App</title>
	</head>
	<body>
		<h1>My Portfolio App</h1>
		<div class="center jumbotron">
			<h1>Leonille Christie A. Lavador</h1>
			<h2>
				You can contact me through:
				<p> My <a href="http://www.facebook.com/leonillechristielavador">Facebook</a> Account</p><br>
				<p> My <a href="https://github.com/leonillechristie">Github</a> Account</p><br>
				<p> My <a href="https://plus.google.com/u/0/101442678747987003985">Google</a> Account</p><br>
			</h2>
		</div>
	</body>
</html>
