<div class = 'container skill'>
	<div class = 'row'>
		<h2>Web Development Tools</h2>
		<div class = 'skillbar' data-percent = '80'>
			<span class = 'skillbar-title' style = 'background-color: #01B6AD;'>HTML</span>
			<p class = 'skillbar-bar' style = 'background-color: #01B6AD;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '80'>
			<span class = 'skillbar-title' style = 'background-color: #01B6AD;'>CSS</span>
			<p class = 'skillbar-bar' style = 'background-color: #0A4958;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '50'>
			<span class = 'skillbar-title' style = 'background-color: #01B6AD;'>JQuery</span>
			<p class = 'skillbar-bar' style = 'background-color: #0A4958;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '50'>
			<span class = 'skillbar-title' style = 'background-color: #01B6AD;'>PHP</span>
			<p class = 'skillbar-bar' style = 'background-color: #0A4958;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '60'>
			<span class = 'skillbar-title' style = 'background-color: #01B6AD;'>FireBase</span>
			<p class = 'skillbar-bar' style = 'background-color: #0A4958;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>

		<div class = 'skillbar' data-percent = '20'>
			<span class = 'skillbar-title' style = 'background-color: #01B6AD;'>Rails</span>
			<p class = 'skillbar-bar' style = 'background-color: #0A4958;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
	</div>

	<hr>

	<div class = 'row'>
		<h2>Game Development Tools</h2>
		<div class = 'skillbar' data-percent = '90'>
			<span class = 'skillbar-title' style = 'background-color: #0A4958;'>Unity</span>
			<p class = 'skillbar-bar' style = 'background-color: #FFFFFF;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '55'>
			<span class = 'skillbar-title' style = 'background-color: #0A4958;'>Android Studio</span>
			<p class = 'skillbar-bar' style = 'background-color: #FFFFFF;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
	</div>

	<hr>

	<div class = 'row'>
		<h2>Desktop Tools</h2>
		<div class = 'skillbar' data-percent = '80'>
			<span class = 'skillbar-title' style = 'background-color: #FFFFFF;'>Adobe Photoshop</span>
			<p class = 'skillbar-bar' style = 'background-color: #0A4958;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '80'>
			<span class = 'skillbar-title' style = 'background-color: #FFFFFF;'>Adobe Illustrator</span>
			<p class = 'skillbar-bar' style = 'background-color: #0A4958;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '80'>
			<span class = 'skillbar-title' style = 'background-color: #FFFFFF;'>Adobe Premiere</span>
			<p class = 'skillbar-bar' style = 'background-color: #0A4958;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
		<div class = 'skillbar' data-percent = '80'>
			<span class = 'skillbar-title' style = 'background-color: #FFFFFF;'>Adobe After Effects</span>
			<p class = 'skillbar-bar' style = 'background-color: #0A4958;'></p>
			<span class = 'skill-bar-percent'></span>
		</div>
	</div>
	
</div>
